<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Novo Pedido</title>
    </head>
    <body>
        <h1>Novo Pedido</h1>
        <label>Data</label>
        <input id="data" type="text" />
        <br />
        <label>Status</label>
        <input id="status" type="text" />
        <br />
        <label>Avaliação</label>
        <input id="avaliacao" type="text" />
        <br />
        <label>Valor</label>
        <input id="valor" type="text" />
        <br />
        <button id="enviar">Enviar</button>

        <script src="../js/novo.js"></script>
    </body>
</html>
