<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Serviço</title>
</head>

<body>
    <div>
        <p>
        <h1>Atualizar Serviço</h1>
        </p>
        <p>
        <div>
            <label for="rua">Categoria</label>
            <input type="text" id="categoria" name="categoria">
        </div>
        <div>
            <label for="numero">Titulo</label>
            <input type="text" id="titulo" name="titulo">
        </div>
        <div>
            <label for="bairro">Descricao</label>
            <input type="text" id="descricao" name="descricao">
        </div>
        <div>
            <button type="button" id="enviar">Enviar</button>
        </div>
        </p>
    </div>
    <script src="../js/atualizar.js"></script>
</body>

</html>