<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Serviço</title>
</head>

<body>
    <div>
        <p>
        <h1>Novo</h1>
        </p>
        <p>
        <div>
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria">
        </div>
        <div>
            <label for="titulo">Titulo</label>
            <input type="text" id="titulo" name="titulo">
        </div>
        <div>
            <label for="descricao">Descricao</label>
            <input type="text" id="descricao" name="descricao">
        </div>
        <div>
            <p>Tipo de Entrega</p>

            <input type="radio" id="online" name="tipo" value="online">
            <label for="online">Online</label>

            <input type="radio" id="presencial" name="tipo" value="presencial">
            <label for="presencial">Presencial</label>
        </div>
        <div>
            <button type="button" id="enviar">Enviar</button>
        </div>
        </p>
    </div>
    <script src="../js/novo.js"></script>
</body>

</html>